<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hiba!</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
  </head>
  <body class="httr">
    <div class="container">
      <div class="btnrow">
          <ul>
              <li><a class="hiv" href="http://localhost:8080/messaging">VISSZA</a></li>
          </ul>
      </div>
      <div class="msgbox-mid">
        <div class="newmsg"> <p class="usr">Hiba!</p></div>
        <div class="newmsg"> <p class="txt" data-th-text = "${errortext}"></p></div>
      </div>
    </div>
  </body>
</html>
