<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Keresés</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
  </head>
  <body class="httr">
    <div class="container">
      <div class="btnrow">
          <ul>
              <li><a class="hiv" href="http://localhost:8080/messaging">VISSZA</a></li>
          </ul>
      </div>

      <form method="POST" data-th-action="@{/messaging/search}" data-th-object="${message}">
        <div class="msgbox-mid">
          <div>
            <ul class="searchrow">
              <li>
                <label class="hiv" for="IDENT">IDENT</label>
                <input type="radio" name="field" id="IDENT" value="5" data-th-field="*{ord}">
              </li>
              <li>
                <label class="hiv" for="NOMEN">NÉV</label>
                <input type="radio" name="field" id="NOMEN" value="3" data-th-field="*{ord}">
              </li>
              <li>
                <label class="hiv" for="DATUM">DÁTUM</label>
                <input type="radio" name="field" id="DATUM" value="1" data-th-field="*{ord}">
              </li>
              <li>
                <label class="hiv" for="DESC">CSÖKK.</label>
                <input type="checkbox" id="DESC" value="desc" data-th-field="*{desc}">
              </li>
              <li>
                <label class="hiv" for="DIM">FÉL</label>
                <input type="checkbox" id="DIM" value="desc" data-th-field="*{ct}">
              </li>
            </ul>
          </div>
          <div class="searchrow">
            <input class="searchb" type="text" placeholder="Névben" data-th-field="*{nm}">
            <input class="searchb" type="text" placeholder="Szövegben" data-th-field="*{tx}">
            <input type="submit" value="Submitte">
          </div>
        </div>
      </form>
    </div>

  </body>
</html>
