<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Regisztáció</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
  </head>
  <body class="httr">
    <div class="container">
      <div class="btnrow">
          <ul>
              <li><a class="hiv" href="http://localhost:8080/messaging">VISSZA</a></li>
              <li data-sec-authorize="!isAuthenticated()">
                  <a class="hiv" href="http://localhost:8080/login">BELÉP</a></li>
              <li data-sec-authorize="isAuthenticated()">
                <form data-th-action="@{/logout}" method="post">
                  <input type="submit" value="KILÉP">
                </form>
              </li>
              <li><a class="hiv" href="http://localhost:8080/messaging/topics">TOPIK</a></li>
              <li><a class="hiv" href="http://localhost:8080/messaging/search">KERES</a></li>
          </ul>
      </div>

      <form method="POST" data-th-action="@{/messaging/register}" data-th-object="${data}">
        <div class="msgbox-mid">
          <div class="searchrow">
            <input class="searchb" type="text" placeholder="Név" data-th-field="*{name}">
            <input class="searchb" type="password" placeholder="Jelszó" data-th-field="*{pwd}">
          </div>
          <section class="msgfooter">
            <p class="txt" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
            <p class="txt" th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}">Password Error</p>
          </section>

          <div class="searchrow">
            <input class="searchb" type="email" placeholder="Drótposta-cím" data-th-field="*{mail}">
            <input class="searchb" type="text" placeholder="Anyja neve" data-th-field="*{mother}">
          </div>
          <section class="msgfooter">
            <p class="txt" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Email Error</p>
            <p class="txt" th:if="${#fields.hasErrors('mother')}" th:errors="*{mother}">Mother Error</p>
          </section>
          <div class="searchrow">
            <input class="searchb" type="text" placeholder="Cipőméret" data-th-field="*{shoe}">
            <input class="searchb" type="text" placeholder="Vércsoport" data-th-field="*{blood}">
          </div>
          <section class="msgfooter">
            <p class="txt" th:if="${#fields.hasErrors('shoe')}" th:errors="*{shoe}">Shoe Error</p>
            <p class="txt" th:if="${#fields.hasErrors('blood')}" th:errors="*{blood}">Blood Error</p>
          </section>


        </div>
        <div class="msgbox">
          <div class="newmsg">
            <input type="submit" value="KÜLD"/>
          </div>
        </div>
      </form>


    </div>
  </body>
</html>
