<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head th:include="commentwall :: standardHead"></head>
  <body class="httr">
    <div class="container">
      <nav th:include="commentwall :: navbar"></nav>

      <div class="msgbox-mid">
        <div class="newmsg"> <p class="usr" data-th-text = "${alcim}">Gond van</p></div>
        <div class="newmsg"> <p class="txt" data-th-text = "${reply}"></p></div>
      </div>
      <div data-sec-authorize="hasRole('ADMIN')" data-th-if="${stacktrace != null}" class="msgbox">
        <p class="txt" data-th-text = "${stacktrace}"></p>
      </div>
    </div>
  </body>
</html>
