<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head th:include="commentwall :: standardHead"></head>
  <body class="httr">
    <div class="container">
      <nav th:include="commentwall :: navbar"></nav>

      <form method="POST" data-th-action="@{/messaging/register}" data-th-object="${data}">
        <div class="msgbox-mid">
          <div class="searchrow">
            <input class="searchb" type="text" placeholder="Név" data-th-field="*{name}">
            <input class="searchb" type="password" placeholder="Jelszó" data-th-field="*{pwd1}">
          </div>
          <section class="msgfooter">
            <p class="txt" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
            <p class="txt" th:if="${#fields.hasErrors('pwd1')}" th:errors="*{pwd1}">Password Error</p>
          </section>

          <div class="searchrow">
            <input class="searchb" type="email" placeholder="Drótposta-cím" data-th-field="*{mail}">
            <input class="searchb" type="password" placeholder="Jelszó, újra" data-th-field="*{pwd2}">
          </div>
          <section class="msgfooter">
            <p class="txt" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Email Error</p>
            <p class="txt" th:if="${#fields.hasErrors('pwd2')}" th:errors="*{pwd2}">Password Error</p>
          </section>



        </div>
        <div class="msgbox">
          <div class="newmsg">
            <input type="submit" value="Küld"/>
          </div>
        </div>
      </form>


    </div>
  </body>
</html>
