<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head th:include="commentwall :: standardHead"></head>

  <body class="httr">
    <div class="container">
      <nav th:include="commentwall :: navbar"></nav>

      <form method="POST" data-th-action="@{/messaging/search}" data-th-object="${message}">
        <div class="msgbox-mid">
          <table>
            <tr>
              <td>
                <select class="slct" data-th-field="*{ct}">
                  <option data-th-each="limit: ${limits}" data-th-text="${limit.title}"
                  data-th-value="${limit.topicId}"></option>
                </select>
              </td>
              <td><input class="searchb" type="text" placeholder="Címben" data-th-field="*{ttl}"></td>
            </tr>
            <tr>
              <td><select class="slct"  data-th-field="*{tp}">
                  <option data-th-each="topic: ${topics}" data-th-text="${topic.title}"
                  data-th-value="${topic.topicId}"></option>
               </select></td>
              <td><input class="searchb" type="text" placeholder="Szövegben" data-th-field="*{tx}"></td>
            </tr>
            <tr data-sec-authorize="hasRole('DIRECTOR')">
              <td><select class="slct"  data-th-field="*{del}">
                  <option data-th-each="filter: ${filters}" data-th-text="${filter.title}"
                  data-th-value="${filter.author}"></option></select>
              </td>
              <td>
                <input class="searchb" type="text" placeholder="Névben" data-th-field="*{nm}">
              </td>
            </tr>
            <tr>
              <td><label for="DESC">Csökkenő sorrend</label>
              <input type="checkbox" id="DESC" value="desc" data-th-field="*{desc}"></td>
            </tr>
          </table>
          <!--<div>
            <ul class="searchrow">
              <li>
                <label for="DATUM">Dátum</label>
                <input type="radio" name="field" id="DATUM" value="1" checked="checked" data-th-field="*{ord}">
              </li>
              <li>
                <label for="NOMEN">Író</label>
                <input type="radio" name="field" id="NOMEN" value="3" data-th-field="*{ord}">
              </li>
              <li>
                <label for="TITULUM">Cím</label>
                <input type="radio" name="field" id="TITULUM" value="5" data-th-field="*{ord}">
              </li>
              <li>
                <label for="DESC">Csökkenő</label>
                <input type="checkbox" id="DESC" value="desc" data-th-field="*{desc}">
              </li>-->
              <!--<li>
                <label class="hiv" for="DIM">FÉL</label>
                <input type="checkbox" id="DIM" value="desc" data-th-field="*{ct}">
              </li>-->
            <!--</ul>
            <ul class="searchrow">
              <li>
                <label for="N1">50</label>
                <input type="radio" name="numer" id="N1" value="0" checked="checked" data-th-field="*{ct}">
              </li>
              <li>
                <label for="N2">150</label>
                <input type="radio" name="numer" id="N2" value="1" data-th-field="*{ct}">
              </li>
              <li>
                <label for="N3">450</label>
                <input type="radio" name="numer" id="N3" value="2" data-th-field="*{ct}">
              </li>
              <li>
                <label for="N4">900</label>
                <input type="radio" name="numer" id="N4" value="3" data-th-field="*{ct}">
              </li>
            </ul>
            <ul class="searchrow" data-sec-authorize="hasRole('DIRECTOR')">
              <li>
                <label for="TOTUM">Mind</label>
                <input type="radio" name="delet" id="TOTUM" value="no" checked="checked" data-th-field="*{del}">
              </li>
              <li>
                <label for="UNDEL">Csak törletlen</label>
                <input type="radio" name="delet" id="UNDEL" value="" data-th-field="*{del}">
              </li>
              <li>
                <label for="DEL">Csak törölt</label>
                <input type="radio" name="delet" id="DEL" value="yes" data-th-field="*{del}">
              </li>
            </ul>
          </div>
          <div class="newmsg">
             <select class="slct"  data-th-field="*{tp}">
                 <option data-th-each="topic: ${topics}" data-th-text="${topic.title}" data-th-value="${topic.topicId}"></option>
              </select>
          </div>
          <div class="searchrow">
            <input class="searchb" type="text" placeholder="Névben" data-th-field="*{nm}">
            <input class="searchb" type="text" placeholder="Szövegben" data-th-field="*{tx}">
          </div>-->
        </div>
        <div class="msgbox">
          <div class="newmsg">
            <input type="submit" value="Küld"/>
          </div>
        </div>
      </form>
    </div>

  </body>
</html>
