<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head th:include="commentwall :: standardHead"></head>
  <body class="httr">
    <div class="container">
      <nav th:include="commentwall :: navbar"></nav>

        <form method="POST" data-th-action="@{/messaging/login}" >
            <div class="msgbox-mid">
              <div class="searchrow">
                <input name="username" class="searchb" type="text" placeholder="Név">
                <input name="password" class="searchb" type="password" placeholder="Jelszó">
              </div>
              <p class="txt" data-th-if="${param.error}" >Hibás felhasználónév vagy jelszó!</p>
              <!--<p class="usr">Név:</p>
              <input name="username" type="text" />
              <p class="txt" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</p>
              <p class="usr">Jelszó:</p>
              <input name="password" type="password" />
              <p class="txt" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>-->

              </div>
              <div class="msgbox">
                <div class="newmsg">
                  <input type="submit" value="Küld"/>
                </div>
              </div>
              <div class="msgbox">
                <div class="newmsg">
                  <a class="hiv" href="http://localhost:8080/messaging/register">Új fiók</a>
                </div>
              </div>
        </form>
        <!--<div class="btnrow">
          <ul>
            <li><a class="hiv" href="http://localhost:8080/login/oauth2/code/google">GOOGLE</a></li>
          </ul>
        </div>-->

    </div>
  </body>
</html>
