<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Új üzenet</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
  </head>
  <body class="httr">
    <div class="container">
      <div class="btnrow">
          <ul>
              <li><a class="hiv" href="http://localhost:8080/messaging">VISSZA</a></li>
              <li data-sec-authorize="isAuthenticated()">
                <form data-th-action="@{/logout}" method="post">
                  <input type="submit" value="KILÉP">
                </form>
              </li>
              <li><a class="hiv" href="http://localhost:8080/messaging/topics">TOPIK</a></li>
              <li data-sec-authorize="hasRole('ADMIN')">
                    <a class="hiv" href="http://localhost:8080/messaging/commenters">FELHASZN.</a></li>
              <li><a class="hiv" href="http://localhost:8080/messaging/search">KERES</a></li>
          </ul>
      </div>

        <form method="POST" data-th-action="@{/messaging/new}" data-th-object="${message}">
          <div class="msgbox-mid">
              <p class="usr">Név</p>
              <p class="txt" data-sec-authentication="name"></p>
              <p class="usr">Üzenet</p>
              <label for="text"></label><input id="textum" type="text" data-th-field="*{text}"/>
              <p class="txt" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Text Error</p>
              <input type="hidden" value="${message.replied}" data-th-field="*{replied}"/>
            </div>
            <div class="msgbox">
                <div class="searchrow">
                    <select data-th-if="${message.isResponse()==false}" class="slct" id="choosetp" data-th-field="*{chosenTopic}">
                        <option data-th-each="topic: ${message.topics}" data-th-text="${topic}" data-th-value="${topic}"></option>
                    </select>
                    <input class="searchb" id="newtopic" type="text" data-th-field="*{newTopic}" placeholder="Új topik címe">

              </div>
            </div>

            <div class="msgbox">
              <div class="newmsg">
                <input type="submit" value="KÜLD"/>
              </div>
            </div>
        </form>

      <!--<div class="btnrow">
        <ul>
          <li class="usr" data-th-each="stat: ${stats}">
            <span data-th-text = "${stat.key}"></span>
            <span data-th-text = "${stat.value}"></span>
          </li>
        </ul>
      </div>-->
    </div>
  </body>
</html>
