<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head th:include="commentwall :: standardHead"></head>

  <body class="httr">
    <div class="container">
      <nav th:include="commentwall :: navbar"></nav>

        <form method="POST" data-th-action="@{/messaging/new}" data-th-object="${message}">
          <div class="msgbox-mid">
              <p class="usr">Név</p>
              <p class="txt" data-sec-authentication="name"></p>
              <p class="usr" data-th-if="${message.getChosenTopic() == 0}">Cím</p>
              <input class="enterlong" type="text" data-th-if="${message.getChosenTopic() == 0}" data-th-field="*{newTopic}" placeholder="Új topik címe">
              <p class="usr">Üzenet</p>
              <label for="text"></label><input id="textum" type="text" data-th-field="*{text}"/>
              <p class="txt" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Text Error</p>
              <input type="hidden" value="${message.replied}" data-th-field="*{replied}"/>
              <input type="hidden" value="${message.getChosenTopic()}" data-th-field="*{chosenTopic}"/>
            </div>
            <!--<div class="msgbox">
                <div class="searchrow">
                    <select data-th-if="${message.isResponse()==false}" class="slct" id="choosetp" data-th-field="*{chosenTopic}">
                        <option data-th-each="topic: ${message.topics}" data-th-text="${topic}" data-th-value="${topic}"></option>
                    </select>
                    <input class="searchb" id="newtopic" type="text" data-th-field="*{newTopic}" placeholder="Új topik címe">

              </div>
            </div>-->

            <div class="msgbox">
              <div class="newmsg">
                <input type="submit" value="Küld"/>
              </div>
            </div>
        </form>

      <!--<div class="btnrow">
        <ul>
          <li class="usr" data-th-each="stat: ${stats}">
            <span data-th-text = "${stat.key}"></span>
            <span data-th-text = "${stat.value}"></span>
          </li>
        </ul>
      </div>-->
    </div>
  </body>
</html>
